body {
  font-family: "Oxygen", "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tittle {
  color: rgb(193, 71, 227); /* You can change 'blue' to any color you prefer */
}


